/* For Sticky Navbar */

.hide {
  opacity: 0;
  transition: 0.5s;
}

.sticky {
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
}

.sticky + .main {
  margin-top: 70px;
}
